<!doctype html>
<html lang=en>
<head>
    <meta charset=utf-8>
    <title>{{ caption }}</title>
</head>
<body>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
        <li>{{ message }}</li>
    {% endfor %}
    </ul>
    {% endif %}
{% endwith %}

<img src="{{ url }}" alt="{{ caption }}" width="600">
<h1>{{ caption }}</h1>

<form method=POST enctype=multipart/form-data action="{{ url_for('upload') }}">
    <input type=file name=photo accept="image/jpg, image/png">
    <button type="submit">Submit</button>
</form>
</body>
</html>